  .footer {
      background-color: #555;
      color: white;
      padding: 5px;
      text-align: center;
      }
    .header{
            padding: 40px 15px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
	.error-list{
		color:red;
	}
	.form-control{
		background-color: #ccc
	}
    